dist/build/Data/PVar.hi
dist/build/Data/PVar.o
dist/build/HSprocrastinating-variable-1.0.o
dist/build/autogen/Paths_procrastinating_variable.hs
dist/build/autogen/cabal_macros.h
dist/build/libHSprocrastinating-variable-1.0.a
dist/installed-pkg-config
dist/setup-config